/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;  /*sticky footer*/
  padding-top: 2rem;    /*grid*/
  padding-bottom: 2rem; /*grid*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}

.top-margin-header {
  margin-top: 50px;
}

h2 {
  font-size: 20px;
}

/*---end of sticky footer styles---*/

/*---grid and custom styles---*/

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 0.4rem;
}
.row .row {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

/*[class*="col-"] {
padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);  
} */

.sectionHeading {
  background-color: rgb(240,240,240);
  margin-bottom: 10px;
  margin-top: 15px;
  padding-left: 10px;
  text-transform: capitalize;
  border-radius: 15px;
}

#tableHeading {
  margin-bottom: -5px;
}

.empty {
  color: gray;
}

.tableHeading {
  font-weight: bold;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 20px;
}

label {
  padding-left: 5px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/***/

#branches-row {
  text-align: right;
}

#branches-row label {
	margin-right: 20px;
}

#shortUrlText {
  padding-top: 20px;
}

input {
  text-align: center;
  font-size: 50px;
  border: none;
}

.framed {
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  display: none;
}

.framed > * {
  display: block;
  margin: auto;
}

#qrImg {
  margin-top: 30px;
}

.sectionLinksWrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.smaller {
  font-size: 15px;
}

.error > a {
  background-color: red;
  pointer-events: none;
  cursor: default;
}
.error > .btnShort {
  display: none;
}

.btnShort{
  color: #37474f;
  background-color: #ffffcc;
  display: inline-block;
  font-weight: bolder;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 1px 4px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}